body {
  margin: 0;
  background-color: rgb(211, 208, 203);
  margin-bottom: 50px;
}
header {
  background-color: rgb(46, 82, 102);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .logo img {
    width: 200px;
    height: 70px;
    padding-left: 100px;
  }

  & .button-container {
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
  }

  & .post-ad-btn {
    height: 50px;
    width: 150px;
    background-color: rgb(110, 136, 152);
    border: none;
    border-radius: 10px;
    font-size: larger;
    color: white;
    cursor: pointer;
    font-weight: 700;
  }

  & .post-ad-btn:hover {
    background-color: rgb(36, 53, 65);
    transition: 0.3s;
    transform: translateY(-4px);
  }

  & .burger-button {
    cursor: pointer;
  }
}
.card-wrapper {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;

  & .car-card {
    margin: auto;
    background-color: rgb(157, 175, 186);
    margin-top: 3rem;
    margin-bottom: 4rem;
    width: 400px;
    border-radius: 10px;
    padding-bottom: 20px;
    cursor: pointer;
  }
  & .car-card:hover {
    background-color: rgb(137, 170, 190);
  }

  & .car-card img {
    margin: auto;
    padding-top: 20px;
    height: 300px;
    width: 90%;
    object-fit: cover;
    margin-left: 1.2rem;
    margin-right: 1rem;
  }

  & .car-card h2,
  h4 {
    color: rgb(46, 82, 102);
  }

  & .car-card h3 {
    color: rgb(110, 136, 152);
  }
  & .car-card h2,
  h3,
  h4 {
    margin: 0;
    text-align: center;
    padding-top: 1rem;
  }

  & a {
    text-decoration: none;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: auto;
  margin-top: 50px;
  width: 60%;

  & input {
    padding: 1.5rem;
    border-radius: 10px;
    border: 2px solid rgb(110, 136, 152);
  }

  & h2,
  h4 {
    text-align: center;
    margin: 0;
  }

  & h2 {
    color: rgb(46, 82, 102);
  }

  & h4 {
    color: rgb(110, 136, 152);
  }
}
.add-button {
  margin: auto;
  margin-top: 50px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: bolder;
  align-items: center;
  background: #f5f5fa;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: pointer;
  display: flex;
  justify-content: center;
  line-height: 1.5rem;
  padding: 15px;
  text-align: left;
  transition: 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
}

.add-button:hover {
  background: #f8f8ff;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

.navbar {
  display: inline-block;
  background-color: white;
  position: fixed;
  width: 100%;
  right: -100%;
  height: 100%;
  z-index: 10;
  transition: 0.4s;
}
.navbar nav ul {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  list-style: none;
}

.navbar nav ul li a {
  color: rgb(46, 82, 102);
  text-decoration: none;
  font-size: x-large;
}

.navbar-active {
  right: 0;
}

.success_message {
  margin-top: 30px;
  color: rgb(29, 215, 20);
  font-size: larger;
  font-weight: bolder;
  text-align: center;
}

.car-details-wrapper {
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 70%;
  font-size: medium;
  border-radius: 10px;
  padding-bottom: 20px;
  border: 2px solid rgb(46, 82, 102);

  & img {
    padding: 0;
    object-fit: cover;
    width: 98%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 20px;
  }
  & .title {
    display: flex;
    padding-left: 15px;
    padding-top: 2rem;
    align-items: center;
  }

  & h3 {
    padding-left: 15px;
    margin: 0;
  }

  & h4 {
    padding-left: 15px;
    padding-right: 100px;
    text-wrap: wrap;
    margin: 0;
    line-height: 40px;
    font-size: 25px;
    font-weight: lighter;
  }

  & a {
    padding-left: 15px;
    padding-top: 20px;
    font-size: larger;
    text-decoration: none;
  }

  & a:hover {
    color: #f8f6f6;
  }
}

& .delete-btn {
  margin: auto;
  margin-top: 50px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
}

& .delete-btn,
.delete-btn span {
  transition: 200ms;
}

& .delete-btn .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}

& .delete-btn .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

& .delete-btn svg {
  width: 15px;
  fill: #eee;
}

& .delete-btn:hover {
  background: #ff3636;
}

& .delete-btn:hover .text {
  color: transparent;
}

& .delete-btn:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

& .delete-btn:focus {
  outline: none;
}

& .delete-btn:active .icon svg {
  transform: scale(0.8);
}

@media screen and (max-width: 768px) {
  header {
    justify-content: space-around;

    & .logo img {
      width: 150px;
      height: 50px;
      padding: 0;
    }

    & .button-container {
      display: flex;
      justify-content: space-between;
      width: 200px;
      align-items: center;
      padding: 0;
    }

    & .post-ad-btn {
      height: 40px;
      width: 120px;
      font-size: 15px;
    }
  }

  .add-button {
    padding: 24px;
  }
  .car-details-wrapper h4 {
    padding-right: 20px;
  }
}
