body {
  margin: 0;
  background-color: rgb(211, 208, 203);
  margin-bottom: 50px;
}
header {
  background-color: rgb(46, 82, 102);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .logo img {
    width: 200px;
    height: 70px;
    padding-left: 100px;
  }

  & .button-container {
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
  }

  & .add-new-car {
    height: 50px;
    width: 150px;
    background-color: rgb(110, 136, 152);
    border: none;
    border-radius: 10px;
    font-size: larger;
    color: white;
    cursor: pointer;
    font-weight: 700;
  }

  & .add-new-car:hover {
    background-color: rgb(36, 53, 65);
    transition: 0.3s;
  }

  & .burger-button {
    cursor: pointer;
  }
}
.card-wrapper {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;

  & .car-card {
    margin: auto;
    background-color: rgb(157, 175, 186);
    margin-top: 3rem;
    margin-bottom: 4rem;
    width: 400px;
    border-radius: 10px;
    padding-bottom: 20px;
    cursor: pointer;
  }
  & .car-card:hover {
    background-color: rgb(137, 170, 190);
  }

  & .car-card h2,
  h4:hover {
    color: rgb(157, 175, 186);
  }
  & .car-card img {
    margin: auto;
    padding-top: 20px;
    height: 300px;
    width: 90%;
    object-fit: cover;
    margin-left: 1.2rem;
    margin-right: 1rem;
  }

  & .car-card h2,
  h4 {
    color: rgb(46, 82, 102);
  }

  & .car-card h3 {
    color: rgb(110, 136, 152);
  }
  & .car-card h2,
  h3,
  h4 {
    margin: 0;
    text-align: center;
    padding-top: 1rem;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: auto;
  margin-top: 50px;
  width: 60%;

  & input {
    padding: 1.5rem;
    border-radius: 10px;
    border: 2px solid rgb(110, 136, 152);
  }

  & h2,
  h4 {
    text-align: center;
    margin: 0;
  }

  & h2 {
    color: rgb(46, 82, 102);
  }

  & h4 {
    color: rgb(110, 136, 152);
  }

  & button {
    height: 2rem;
    width: 200px;
    background-color: rgb(46, 82, 102);
    color: rgb(157, 175, 186);
    margin: auto;
    font-weight: 750;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  & button:hover {
    background-color: rgb(110, 136, 152);
    color: rgb(46, 82, 102);
    transition: 0.3s;
  }
}

.navbar {
  display: inline-block;
  background-color: white;
  position: fixed;
  width: 100%;
  right: -100%;
  height: 100%;
  z-index: 10;
  transition: 0.4s;
}
.navbar nav ul {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  list-style: none;
}

.navbar nav ul li a {
  color: rgb(46, 82, 102);
  text-decoration: none;
  font-size: x-large;
}

.navbar-active {
  right: 0;
}

.success_message {
  margin-top: 30px;
  color: rgb(29, 215, 20);
  font-size: larger;
  font-weight: bolder;
  text-align: center;
}

@media screen and (max-width: 768px) {
  header {
    justify-content: space-around;

    & .logo img {
      width: 150px;
      height: 50px;
      padding: 0;
    }

    & .button-container {
      display: flex;
      justify-content: space-between;
      width: 200px;
      align-items: center;
      padding: 0;
    }

    & .add-new-car {
      height: 40px;
      width: 120px;
      font-size: 15px;
    }
  }
}

.car-details-wrapper {
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: rgb(211, 208, 203);
  border: 2px solid rgb(46, 82, 102);
  border-radius: 10px;
  font-size: medium;
  padding-bottom: 50px;

  & img {
    padding: 0;
    object-fit: cover;
    width: 100%;
    margin-bottom: 20px;
  }

  & h2,
  h3 {
    padding-left: 10px;
    margin: 0;
    line-height: 30px;
  }

  & h4 {
    padding-left: 10px;
    text-align: justify;
    width: 400px;
    margin: 0;
    line-height: 30px;
  }

  & a {
    text-align: end;
    padding-right: 20px;
  }
}
